.container {
    width: 640px;
    margin: 150px auto;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
  }
  
  .container hr {
    height: 2px;
    border: none;
    background: #707070;
  }
  
  .container h2 {
    font-size: 27px;
    font-weight: 500;
    text-align: center;
  }
  
  .container ul li {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .container button {
    margin: 10px auto;
    width: 250px;
    height: 65px;
    background: #553f9a;
    color: #fff;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .container .index {
    margin: auto;
    font-size: 18px;
  }
  
  .container .correct {
    background: #dffff2;
    border-color: #00d397;
  }
  
  .container .wrong {
    background: #ffebeb;
    border-color: #ff4a4a;
  }
  
  .username-popup {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .usernameDex {
    margin: 10px 0;
    background-color: white;
    border: solid 1px black;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  